<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />


<f:section name="Buttons">
    <be:moduleLayout.button.linkButton
        icon="actions-view-go-back"
        title="{f:translate(id: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.goBack')}"
        link="{f:uri.action(controller: 'Mobiles', action: 'list')}"
    />
</f:section>

<f:section name="Content">
    <h1><f:translate key="tx_nsmobile_domain_model_mobiles.newMobile" /></h1>

    <f:flashMessages />

    <f:render partial="FormErrors" />

    <f:form action="create" name="newMobiles" object="{newMobiles}">
        <f:render partial="Mobiles/FormFields" />
        <f:form.submit value="Create new" class="btn btn-default"/>
    </f:form>
</f:section>
</html>
