<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Buttons">
    <be:moduleLayout.button.linkButton
        icon="actions-view-go-back"
        title="{f:translate(id: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.goBack')}"
        link="{f:uri.action(controller: 'Mobiles', action: 'list')}"
    />
</f:section>

<f:section name="Content">
    <h1><f:translate key="tx_nsmobile_domain_model_mobiles.singleViewOfMobile" /></h1>

    <f:flashMessages />
    <f:render partial="Mobiles/Properties" arguments="{mobiles: mobiles}" />
    <f:link.action action="list" class="btn btn-default"><f:translate key="tx_nsmobile_domain_model_mobiles.backToList" /></f:link.action>
</f:section>
</html>
